.App {
  font-family: Arial, sans-serif;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  color: rgb(82, 82, 82);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color:rgb(250, 231, 186);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  display: flex;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  margin-right: 10px;
}

.button-group button svg {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.button-group button:first-child {
  background-color: rgb(32, 200, 32);
  color: white;
}

.button-group button:first-child:hover {
  background-color: rgb(0, 184, 0);
  color: black;
}

.button-group button:last-child {
  background-color: rgb(246, 102, 157);
  color: white;
}

.button-group button:last-child:hover {
  background-color: rgb(255, 105, 105);
  color: black;
}

.liked {
  stroke: rgb(82, 82, 82);
}

.disliked {
  stroke: rgb(82, 82, 82);
}

.delete-block {
  margin-left: 120px;
}

.delete-button {
  background-color: rgb(246, 102, 157);
  color: white;
  border: 1px solid #ccc;
  width: 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(255, 105, 105);
  color: black;
}

.like-dislike-bar {
  display: flex;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.like-bar,
.dislike-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  position: relative;
  transition: width 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.like-bar {
  background-color: rgb(32, 200, 32);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dislike-bar {
  background-color: rgb(246, 102, 157);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toggle-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(106, 106, 106);
  background-color: rgb(225, 246, 239);
}

.filter label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter label:hover {
  color: black;
}

.filter input[type="checkbox"] {
  margin-right: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ccc;
  transition: background-color 0.3s;
  color: rgb(82, 82, 82);
}

.pagination button:hover {
  background-color: #e3e2e2;
}

.pagination button.active {
  background-color: #f0aaf7;
  color: white;
}

.pagination button.disabled {
  opacity: .6;
}

.pagination select {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
}

.pagination button svg {
  width: 17px;
  height: 17px;
}